<div class="hero-unit markdown-body">
    <h1>About</h1>
    <p>Thank you very much for the test. It was a great time with Backbone.</p>
    <h2>Installation</h2>
    <p>Install <code>bower</code> and <code>grunt</code> then:</p>
<pre>$ npm install
$ bower install
$ grunt server</pre>
</div>
