<div class="chart">
    <div class="chart__container"></div>
    <select class="chart__type" name="Ñhart-type">
        <option value="line" selected="selected">Line</option>
        <option value="column">Column</option>
    </select>
    <a href="/" class="button">Back</a>
</div>
